body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:514px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:622px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:50px;
  width:314px;
  height:621px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:7px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:84px;
  width:60px;
  height:6px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:64px;
  width:10px;
  height:10px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:84px;
  width:6px;
  height:6px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:50px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:611px;
  width:45px;
  height:45px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:490px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:112px;
  width:288px;
  height:489px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:112px;
  width:288px;
  height:24px;
  color:#FFFFFF;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:117px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:117px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:116px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:117px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:117px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:117px;
  width:33px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:31px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:136px;
  width:288px;
  height:30px;
  font-size:14px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:284px;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:137px;
  width:26px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#797979;
  text-align:center;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:183px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#2EA9EB;
  text-align:center;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:183px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#2EA9EB;
  text-align:center;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:189px;
  width:77px;
  height:19px;
  font-size:16px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:228px;
  width:288px;
  height:1px;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:33px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:239px;
  width:266px;
  height:32px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:246px;
  width:30px;
  height:18px;
  color:#797979;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:246px;
  width:22px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00FF66;
  text-align:center;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:246px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
  text-align:center;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:246px;
  width:30px;
  height:18px;
  color:#797979;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:240px;
  width:1px;
  height:30px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:246px;
  width:24px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
  text-align:center;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:246px;
  width:30px;
  height:18px;
  color:#797979;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:240px;
  width:1px;
  height:30px;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:289px;
  width:266px;
  height:204px;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:38px;
  height:34px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:0px;
  width:38px;
  height:34px;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:0px;
  width:38px;
  height:34px;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:38px;
  height:34px;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:38px;
  height:34px;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:0px;
  width:38px;
  height:34px;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:38px;
  height:34px;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:34px;
  width:38px;
  height:34px;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:34px;
  width:38px;
  height:34px;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:34px;
  width:38px;
  height:34px;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:34px;
  width:38px;
  height:34px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:34px;
  width:38px;
  height:34px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:34px;
  width:38px;
  height:34px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:38px;
  height:34px;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:68px;
  width:38px;
  height:34px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:68px;
  width:38px;
  height:34px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:68px;
  width:38px;
  height:34px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:68px;
  width:38px;
  height:34px;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:68px;
  width:38px;
  height:34px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:68px;
  width:38px;
  height:34px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:38px;
  height:34px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:102px;
  width:38px;
  height:34px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:102px;
  width:38px;
  height:34px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:102px;
  width:38px;
  height:34px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:102px;
  width:38px;
  height:34px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:102px;
  width:38px;
  height:34px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:102px;
  width:38px;
  height:34px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:38px;
  height:34px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:136px;
  width:38px;
  height:34px;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:136px;
  width:38px;
  height:34px;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:136px;
  width:38px;
  height:34px;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:136px;
  width:38px;
  height:34px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:136px;
  width:38px;
  height:34px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:136px;
  width:38px;
  height:34px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:38px;
  height:34px;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:170px;
  width:38px;
  height:34px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:170px;
  width:38px;
  height:34px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:170px;
  width:38px;
  height:34px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:170px;
  width:38px;
  height:34px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:170px;
  width:38px;
  height:34px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:170px;
  width:38px;
  height:34px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
