body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:514px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:622px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:50px;
  width:314px;
  height:621px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:7px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:84px;
  width:60px;
  height:6px;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:64px;
  width:10px;
  height:10px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:84px;
  width:6px;
  height:6px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:50px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:611px;
  width:45px;
  height:45px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:490px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:112px;
  width:288px;
  height:489px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:112px;
  width:288px;
  height:24px;
  color:#FFFFFF;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:117px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:117px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:116px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:117px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:117px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:117px;
  width:33px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:31px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:136px;
  width:288px;
  height:30px;
  font-size:14px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:284px;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:137px;
  width:26px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#797979;
  text-align:center;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:174px;
  width:30px;
  height:18px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:197px;
  width:288px;
  height:1px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:562px;
  width:288px;
  height:1px;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:568px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#2EA9EB;
  text-align:center;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:568px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:center;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:174px;
  width:105px;
  height:15px;
  font-size:13px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:209px;
  width:247px;
  height:184px;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:35px;
  height:34px;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:35px;
  height:34px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:0px;
  width:35px;
  height:34px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:35px;
  height:34px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:0px;
  width:35px;
  height:34px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:37px;
  height:34px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:35px;
  height:30px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:34px;
  width:35px;
  height:30px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:34px;
  width:35px;
  height:30px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:34px;
  width:35px;
  height:30px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:34px;
  width:35px;
  height:30px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:34px;
  width:35px;
  height:30px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:34px;
  width:37px;
  height:30px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:35px;
  height:30px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:64px;
  width:35px;
  height:30px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:64px;
  width:35px;
  height:30px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:64px;
  width:35px;
  height:30px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:64px;
  width:35px;
  height:30px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:64px;
  width:35px;
  height:30px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:64px;
  width:37px;
  height:30px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:35px;
  height:30px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:94px;
  width:35px;
  height:30px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:94px;
  width:35px;
  height:30px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:94px;
  width:35px;
  height:30px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:94px;
  width:35px;
  height:30px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:94px;
  width:35px;
  height:30px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:94px;
  width:37px;
  height:30px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:35px;
  height:30px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:124px;
  width:35px;
  height:30px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:124px;
  width:35px;
  height:30px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:124px;
  width:35px;
  height:30px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:124px;
  width:35px;
  height:30px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:124px;
  width:35px;
  height:30px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:124px;
  width:37px;
  height:30px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:35px;
  height:30px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:154px;
  width:35px;
  height:30px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:154px;
  width:35px;
  height:30px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:154px;
  width:35px;
  height:30px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:154px;
  width:35px;
  height:30px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:154px;
  width:35px;
  height:30px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:154px;
  width:37px;
  height:30px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:325px;
  width:5px;
  height:5px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:325px;
  width:5px;
  height:5px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:325px;
  width:5px;
  height:5px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:325px;
  width:5px;
  height:5px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:393px;
  width:221px;
  height:15px;
  font-size:13px;
  color:#BCBCBC;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:418px;
  width:211px;
  height:15px;
  font-size:13px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:440px;
  width:52px;
  height:15px;
  font-size:13px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:440px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#2EB9EA;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:475px;
  width:220px;
  height:15px;
  font-size:13px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:497px;
  width:52px;
  height:15px;
  font-size:13px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:497px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#2EB9EA;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
