body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:514px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:622px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:50px;
  width:314px;
  height:621px;
}
#u1039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:7px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:84px;
  width:60px;
  height:6px;
}
#u1040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:64px;
  width:10px;
  height:10px;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:84px;
  width:6px;
  height:6px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:50px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:611px;
  width:45px;
  height:45px;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:490px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:112px;
  width:288px;
  height:489px;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:112px;
  width:288px;
  height:24px;
  color:#FFFFFF;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:117px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:117px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:116px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:117px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:117px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:117px;
  width:33px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:2px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:168px;
  width:287px;
  height:1px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:144px;
  width:59px;
  height:18px;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:36px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:173px;
  width:280px;
  height:35px;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:186px;
  width:5px;
  height:5px;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:15px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:176px;
  width:111px;
  height:14px;
  font-size:12px;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:15px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:192px;
  width:157px;
  height:14px;
  font-size:12px;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:36px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:214px;
  width:280px;
  height:35px;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:227px;
  width:5px;
  height:5px;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:15px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:217px;
  width:111px;
  height:14px;
  font-size:12px;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:15px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:233px;
  width:229px;
  height:14px;
  font-size:12px;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:36px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:256px;
  width:280px;
  height:35px;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:15px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:259px;
  width:111px;
  height:14px;
  font-size:12px;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:15px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:275px;
  width:193px;
  height:14px;
  font-size:12px;
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:137px;
  width:26px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#797979;
  text-align:center;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
